// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #016a97;
$secondary: #1da1c0;
$accent: #9c27b0;

$dark: #050f1f;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// TODO: replace it with local files
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Set the default font-family
$typography-font-family: 'Lato', sans-serif !default;

// Fix font-weight values to match the imported font family weights
$text-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 400,
  bold: 700,
  bolder: 900
) !default;
$button-font-weight: 400;

$light-blue: #1da1c0 !default;
$blue-2: #016a97 !default;
$grey-1: #f7f7f7;

.q-header {
  background-image: linear-gradient(to left, #07c9be, #016a97);
}

.q-router-link--exact-active {
  background-color: $grey-1;

  .q-icon {
    color: #07c9be !important;
  }
  .q-item__label {
    color: $dark !important;
  }
}

body {
  color: $dark;
}
